<div class="blog-post">
    <h3 class="mb-0">{{ data.title }}</h3>
    <p class="blog-post-meta">{{ data.createdAt }} by {{ data.userFullName }}</p>


    <img class="card-img-right flex-auto d-none1 d-md-block" src="{{ baseAppPath }}/images/{{ data.imageFile }}"
         style="        object-fit: cover;
         width: 25%;
         max-height: 75px;
         margin-bottom: 20px;
         border-radius: 6px; float: left; margin-right: 10px">
    <p class="card-text mb-auto">{{ data.shortDesc }}</p>
    <!--blockquote class="blockquote">{{ data.shortDesc }}</blockquote-->
    <br style='clear: both'/>
    <p class="text-right">
        <a href="#">Continue reading</a>
    </p>
</div><!-- /.blog-post -->